.gallery {
  background-color: #7156DD;
  padding: 120px 10%;
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.speakersHeading {
  color: #7156DD;
  font-size: 48px !important;
}
.peopleHeading {
  color: #ffffff;
}

.imageContainer {
  position: relative;
  .image {
   width: 100%; 
  }
}

.itemFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
  padding-left: 2px;
}

.speakerInfo { 
  display: flex;
  flex-direction: column;
}

.speakerInfo .speakerDesignation {
  color: #ffffff;
  font-weight: 600;
  margin: 0;
}

.speakerInfo .speakerLocation {
  color: #ffffff;
  margin: 0;
}

.socialIcons {
  color: #ffffff;
  display: flex;
  width: 60px;
  justify-content: space-between;
  font-size: 24px;
  .socialLink{
    color: #ffffff;
  }
}

/* Create four equal columns that sits next to each other */
.column {
  width: 230px;
  margin: 0 24px 48px 24px;
  position: relative;
}

.horizontalLine {
  position: absolute;
  height: 4px;
  width: 40%;
  background-color: #DA5E67;
  top: 90%;
  left: -10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .gallery {
    background-color: #7156DD;
    padding: 120px 0;
    margin: 0;
  }
  :global {
    .sections-holder {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}